div{
    background-color: darkgray;
}
h1{
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    width: 19%;
  }
  
  li a {
    display: block;
    padding: 10px;
    background-color: #dddddd;
    text-align: center;
  }
li a:hover{
    background-color: dimgray;
}